/****************
 * BASIC BUTTON *
 ****************/

@mixin button($light, $dark, $inset, $font) {
  transition: all 0.3s ease;
  background-color: $light;
  background: -webkit-linear-gradient(180deg, $dark 10%, $light 90%);
  background:    -moz-linear-gradient(180deg, $dark 10%, $light 90%);
  background:     -ms-linear-gradient(180deg, $dark 10%, $light 90%);
  background:      -o-linear-gradient(180deg, $dark 10%, $light 90%);
  background:         linear-gradient(180deg, $dark 10%, $light 90%);
  color: $font;
  &:hover,
  &:focus,
  &:visited {
    background-color: $dark;
    background: -webkit-linear-gradient(180deg, $light 10%, $dark 90%);
    background:    -moz-linear-gradient(180deg, $light 10%, $dark 90%);
    background:     -ms-linear-gradient(180deg, $light 10%, $dark 90%);
    background:      -o-linear-gradient(180deg, $light 10%, $dark 90%);
    background:         linear-gradient(180deg, $light 10%, $dark 90%);
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 0 0 6px 3px $inset;
  }
}

@mixin gold_button() {
  float: left;
  box-shadow: 0 0 0;
  background: $yellow;
  color: $darkGrey;
  text-shadow: 0 0 0;
  border: 1px solid $yellow;
  border-bottom: 1px solid darken($yellow, 7.5);
  border-right: 1px solid darken($yellow, 7.5);
  &:hover {
    background: darken($yellow, 7.5);
    border-bottom: 1px solid darken($yellow, 12.5);
    border-right: 1px solid darken($yellow, 12.5);
  }
  &:active {
    background: darken($yellow, 12.5);
    border-bottom: 1px solid darken($yellow, 17.5);
    border-right: 1px solid darken($yellow, 17.5);
  }
}
